<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: headFragment"></head>
<body>
	<div id="wrapper">
		<nav th:replace="fragments/header :: headerFragement"></nav>
		<div th:replace="fragments/leftmenu :: leftmenuFragment"></div>
		<div id="rightcolumn">
			<th:block layout:fragment="customContents"></th:block>
		</div>
		<footer th:replace="fragments/footer :: footerFragment"></footer>
	</div>
	<!-- 사용자 지정 자바스크립트 라이브러리 파일 -->
		<th:block layout:fragment="customFooterScript">
		
		
		</th:block>
</body>
</html>

