<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/loginJoinLayout.html}">
<th:block layout:fragment="customTitle">
	 <title>TravelMaker |  Log in</title>
</th:block>
 <th:block layout:fragment="customCss">
  <style>
      body,html{
    	margin:0;
    	padding:0;

    }
 
    .row{
    	margin-left:12%;
    }
   	.card{
   		 width:450px;
   		 margin-left:30px;
   		 }
   .login-logo{
   	font-size :50px;
   }
   .login-page{
  	 	width:100%;
   		
   }
   </style>
 </th:block>
<th:block layout:fragment="customContents">
<div class="login-page container-fluid">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Travel</b>Maker</a>
  </div>
 </div>
  <!-- /.login-logo -->
  <div class="row">
  <div class="card col-md-3 col-md-offset-1">
    <div class="card-body login-card-body">
      <p class="login-box-msg">일반 회원 로그인🔒</p>
         <form action="/loginMember" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ID" name="mId">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
           <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="mPw">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row" style ="margin-left:-10px; margin-bottom:10px;">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                 자동 로그인
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      
      <div class="text-center mb-3">
        <p>- OR -</p>
        <a href="#"> 아이디 찾기 |
        </a>
        <a href="#" >
    	 비밀 번호 찾기
        </a> <br>
        <a href="/addMember"> 아직 TravelMaker 회원이 아니신가요?</a>
      </div>
	 </div>
    <!-- /.login-card-body -->
  </div>
  <div class="card col-md-3">
    <div class="card-body login-card-body">
      <p class="login-box-msg">제휴업체 로그인🔒</p>
              <form action="/loginAffiliates" method="post">
           <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ID" name="mId">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
           <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="mPw">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row" style ="margin-left:-10px; margin-bottom:10px;">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                자동 로그인
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      
      <div class="text-center mb-3">
        <p>- OR -</p>
        <a href="#"> 아이디 찾기 |
        </a>
        <a href="#" >
    	 비밀 번호 찾기
        </a> <br>
        <a href="/addAffiliate"> TravelMaker와 제휴를 맺으시겠어요?</a>
      </div>
    </div>
    <!-- /.login-card-body -->
  </div>
  <div class="card col-md-3">
    <div class="card-body login-card-body">
    <p class="login-box-msg">관리자 로그인🔒</p>
           <form action="/loginAdmin" method="post">
     	  <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ID" name="mId">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
           <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="mPw">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row" style ="margin-left:-10px; margin-bottom:10px;">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                자동 로그인
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      
      <div class="text-center mb-3">
        <p>- OR -</p>
        <a href="#"> 아이디 찾기 |
        </a>
        <a href="#" >
    	 비밀 번호 찾기
        </a> <br>
        <a> 아직 TravelMaker 회원이 아니신가요?</a>
      </div>
  	</div>
  </div>
</div>
  </div>

</th:block>
<th:block layout:fragment="customFooterScript">
	<script>
	</script>	
</th:block>
</html>
