<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>전주의 관광명소</title>
</th:block>
<th:block layout:fragment="customCss">
	<style>
		span{
			font-size:20px;
			
			font-weight:bold
		}
		
		.bestSights{
		  padding-top:10px;
		  margin-bottom:20px;
		  
		}
		
		.desc{
		display:block;
		padding-left:10px;
		margin-top:10px;
		}
		
		.radio{
			margin-top:10px;
		}
		
		.sightListTitle{
			font-size:35px;
			padding-bottom:30px;
		}
		.post{
			margin-top:15px;
		}
		
		.sightCate{
			margin-top:40px;
			border-top :1px solid black;
	
			padding-top:10px;
		}
		
		.sightCate p{
			font-size:20px;
		}
		
		.warp-searchForm{
			margin-left:13%;
			margin-top:20px;
		}
		
		.warp-searchForm input{
			width:200px;
		}
	</style>
</th:block>
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid" style="text-align:center">
       <h1> <strong>전주</strong>에서 여기오때?ㅋㅋ</h1>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
       
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-2 order-1 order-md-1">
             	<div class="warp-searchForm">
	             <form class="form-inline ">
		     		 <div class="input-group input-lg">
		       		 <input class="form-control input-lg" type="search" placeholder="Search" aria-label="Search">
		        	 <div class="input-group-append">
		        		  <button class="btn btn-navbar" type="submit">	
		          			  <i class="fas fa-search"></i>
		          		 </button>
	       		 	</div>
	      			</div>
	    		</form>
	    		</div>
    	 	<div class="sightCate">
    	 		<p> 명소 종류</p>
             <div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 랜드마크
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 박물관
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 자연공원
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 밤문화
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 즐길거리/게임
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" > 스파/웰니스
			  </label>
			</div>
			</div>
          </div>
            <div class="col-12 col-md-12 col-lg-10 order-2 order-md-2">
          <h1>Best 3</h1>
              <div class="row bestSights">
                <div class="col-12 col-sm-4 ">
                  <div class=" info-box bg-light ">
                   <img src="/dist/img/avatar6.jpg"  alt="User Image" width="100"height="150" >
                   <div class="desc">
                     <span>Jonna</span><br>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
                   	529건의 리뷰<br>
                   	<p>박지훈 얼굴이 장관</p>
                   	<p>주소작성하는부분이야</p>
                   </div>
                  </div>
                </div>
                  <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                   <img src="/dist/img/test.jpeg"  alt="User Image" width="100" height="150">
                    <div class="desc">
                     <span>HandSome</span><br>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
                   	529건의 리뷰<br>
                   	<p>박지훈 얼굴이 장관</p>
                   	<p>주소작성하는부분이야</p>
                   </div>
                  </div>
                </div>
                  <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                   <img src="/dist/img/test2.jpeg"  alt="User Image" width="100" height="150">
                     <div class="desc">
                     <span>Michinnom</span><br>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
	                   <i class="fas fa-star"></i>
                   	529건의 리뷰<br>
                   	<p>박지훈 얼굴이 장관</p>
                   	<p>주소작성하는부분이야</p>
                   </div>
                  </div>
                </div>
             </div>
              <div class="row">
                <div class="col-12">
                  <span class="sightListTitle">관광명소</span> 
                  	<i class="fas fa-sort-amount-up"></i>	
                    <div class="post">
                    
                         <img src="/dist/img/avatar6.jpg"  alt="User Image" width="100"height="150" >
                      <div class="">
         	
            		 </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v2</a>
                      </p>
                    </div>

                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                        <span class="username">
                          <a href="#">Sarah Ross</a>
                        </span>
                        <span class="description">Sent you a message - 3 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                      </p>
                    </div>

                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                        <span class="username">
                          <a href="#">Jonathan Burke Jr.</a>
                        </span>
                        <span class="description">Shared publicly - 5 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v1</a>
                      </p>
                    </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->






</th:block>
<th:block layout:fragment="customFooterScript">
	
</th:block>
</html>
